################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnityTampleRun/v16
/.vs/Runner/v16
